<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="solr">
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldMap>
            <typeMatches hint="raw:AddTypeMatch">
              <typeMatch typeName="textCollection">
                <patch:attribute name="settingType">Sitecore.Support.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.Support.110796</patch:attribute>
              </typeMatch>
              <typeMatch typeName="stringCollection">
                <patch:attribute name="settingType">Sitecore.Support.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.Support.110796</patch:attribute>
              </typeMatch>
              <typeMatch typeName="stringArray">
                <patch:attribute name="settingType">Sitecore.Support.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.Support.110796</patch:attribute>
              </typeMatch>
            </typeMatches>
          </fieldMap>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>